<?xml version="1.0"?>

<launch>
  <arg name="robot_name" default="thormang3" />

  <group ns="joints">
    <!-- Load joint controller configurations from YAML file to parameter server -->
    <rosparam file="$(find thor_vt_hand_ros_control)/config/vt_hand_left_gazebo_controllers.yaml"  command="load" />

    <!-- load the controllers -->
    <node name="left_hand_pos_controller_spawner" pkg="controller_manager" type="spawner" respawn="false" output="screen"
      args="--stopped l_f0_j0_pos l_f1_j0_pos
            --shutdown-timeout 3" />

    <node name="start_l_f0_j0_position_controller" pkg="thor_vt_hand_ros_control" type="start_controller_script" args="/gazebo/$(arg robot_name)/joints 2 l_f0_j0_pos l_f1_j0_pos" />
  </group>
</launch>
