<?xml version="1.0"?>

<robot  name="vt_hand_macros" xmlns:xacro="http://ros.org/wiki/xacro">
  
  <xacro:macro name="joint_transmission_macro" params="joint_name">
    <transmission name="${joint_name}_transmssion">
      <type>transmission_interface/SimpleTransmission</type>
      <joint name="${joint_name}">
        <hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface>
      </joint>  
      <actuator name="${joint_name}_motor">
        <hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface>
        <mechanicalReduction>1</mechanicalReduction>
      </actuator>
    </transmission>
    <gazebo reference="${joint_name}">
      <implicitSpringDamper>1</implicitSpringDamper>
    </gazebo>
  </xacro:macro>
  
  <xacro:macro name="set_gazebo_robot_default_color_macro" params="link_name">
<!--    <gazebo reference="${link_name}">
      <material>Gazebo/White</material>
    </gazebo>-->
  </xacro:macro>

  <!-- Increased effort limit by x10 for gazebo -->
  <xacro:macro name="joint_small_servo_limits_macro" params="lower upper">
    <limit effort="50.596" lower="${lower}" upper="${upper}" velocity="1.4"/>
    <dynamics damping="${DAMPING}" friction="${FRICTION}"/>
  </xacro:macro>    
  
  <xacro:macro name="joint_medium_servo_limits_macro" params="lower upper">
    <limit effort="210.142" lower="${lower}" upper="${upper}" velocity="2.5"/>
    <dynamics damping="${DAMPING}" friction="${FRICTION}"/>
  </xacro:macro>    

  <xacro:macro name="joint_large_servo_limits_macro" params="lower upper">
    <limit effort="390.131" lower="${lower}" upper="${upper}" velocity="2.5"/>
    <dynamics damping="${DAMPING}" friction="${FRICTION}"/>
  </xacro:macro>    

</robot>

