<?xml version="1.0"?>
<!--
parameters:
        prefix:         typcially includes the hand prefix and an identifier for the finger(i.e. finger_1, etc...).
        reflect:        finger0: reflect = 1
                        finger1: reflect = -1

-->
<robot xmlns:xacro="http://ros.org/wiki/xacro">
  <xacro:include filename="$(find hector_xacro_tools)/urdf/inertia_tensors.urdf.xacro" />
  <xacro:include filename="$(find thor_vt_hand_description)/urdf/constants.xacro"/>
  <xacro:include filename="$(find thor_vt_hand_description)/urdf/helper_macros.urdf.xacro"/>

  <xacro:macro name="vt_finger_tud_macro" params="prefix reflect">
    <!-- link list -->
    <link name="${prefix}_link_0">
      <visual>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <geometry>
          <mesh filename="package://thor_vt_hand_description/meshes/collision/${prefix}_link_0.stl"/>
        </geometry>
        <material name="green">
          <color rgba="0 1 0 1"/>
        </material>
      </visual>
      <collision>
        <origin xyz="0 0 0" rpy="0 ${M_PI*0.5} 0"/>
        <geometry>
          <cylinder length="0.02" radius="0.017"/>
        </geometry>
        <material name="yellow">
          <color rgba="0 1 1 1"/>
        </material>
      </collision>
      <collision>
        <origin xyz="0 0 0.02" rpy="0 0 0"/>
        <geometry>
          <cylinder length="0.04" radius="0.008"/>
        </geometry>
        <material name="yellow"/>
      </collision>
      <collision>
        <origin xyz="0 -0.00407 0.042" rpy="0 ${M_PI*0.5} 0"/>
        <geometry>
          <cylinder length="0.02" radius="0.014"/>
        </geometry>
        <material name="yellow">
          <color rgba="0 1 1 1"/>
        </material>
      </collision>
      <!-- WARNING: INERTIA NOT CORRECT -->
      <inertial>
        <origin xyz="${reflect*0.2e-03} 0.92e-03 21.11e-03" rpy="0 0 0"/>
        <mass value="0.1"/>
        <inertia ixx="21.39e-06" ixy="${reflect*(-0.39e-06)}" ixz="${reflect*0.71e-06}" iyy="18.98e-06" iyz="-1.36e-06" izz="4.73e-06"/>
      </inertial>
    </link>
    <gazebo reference="${prefix}_link_0">
      <mu1>1.1</mu1>
      <mu2>1.1</mu2>
      <kp>1000000.0</kp>
      <kd>10.0</kd>
      <maxVel>0.1</maxVel>
      <minDepth>0.00</minDepth>
      <maxContacts>1</maxContacts>
      <!--<material>Gazebo/FlatBlack</material>-->
    </gazebo>
    <link name="${prefix}_link_1">
      <visual>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <geometry>
          <mesh filename="package://thor_vt_hand_description/meshes/collision/${prefix}_link_1.stl"/>
        </geometry>
        <material name="green"/>
      </visual>
      <collision>
        <origin xyz="-0.002 0.007 0.018" rpy="0 0 0"/>
        <geometry>
          <cylinder length="0.05" radius="0.008"/>
        </geometry>
        <material name="yellow"/>
      </collision>
      <!-- WARNING: INERTIA NOT CORRECT -->
      <!--
            <inertial>
                <origin xyz="${reflect*-0.99e-03} -4.42e-03 11.82e-03" rpy="0 0 0"/>
                <mass value="0.1"/>
                <inertia ixx="2.35e-06" ixy="${reflect*(-0.12e-06)}" ixz="${reflect*0.08e-06}" iyy="1.16e-06" iyz="-1.0e-06" izz="1.44e-06" />
            </inertial>
            -->
      <xacro:inertial_cuboid_with_pose mass="0.05" x_length="0.01" y_length="0.015" z_length="0.04">
        <origin xyz="0.0 0.005 0.02" rpy="0 0 0"/>
      </xacro:inertial_cuboid_with_pose>
    </link>
    <gazebo reference="${prefix}_link_1">
      <mu1>1.1</mu1>
      <mu2>1.1</mu2>
      <kp>1000000.0</kp>
      <kd>10.0</kd>
      <maxVel>0.1</maxVel>
      <minDepth>0.00</minDepth>
      <maxContacts>1</maxContacts>
      <!--<material>Gazebo/FlatBlack</material>-->
    </gazebo>
    <!-- end of link list -->
    <!-- joint list -->
    <!-- WARNING: UPPER LIMIT NOT CORRECT/IGNORED WHILE USING MIMIC JOINT TYPE -->
    <!--		
                <joint name="${prefix}_j1" type="revolute">
                        <parent link="${prefix}_link_0"/>
                        <child link="${prefix}_link_1"/>
                        <axis xyz="1 0 0"/>
                        <origin xyz="0 -0.00407 0.04983" rpy="0.4 0 0"/>
                        <limit lower="0" upper="0.8" effort="100" velocity="100"/>
                        <mimic joint="${prefix}_j0" multiplier="0.4" offset="0"/>
                </joint>
                -->
    <joint name="${prefix}_j1" type="fixed">
      <parent link="${prefix}_link_0"/>
      <child link="${prefix}_link_1"/>
      <axis xyz="1 0 0"/>
      <origin xyz="0 -0.00407 0.04983" rpy="0.4 0 0"/>
      <limit lower="0" upper="0.8" effort="100" velocity="100"/>
      <!--<mimic joint="${prefix}_j0" multiplier="0.4" offset="0"/>-->
    </joint>
    <!-- end of joint list -->
  </xacro:macro>
</robot>
